table {
    border-collapse: collapse;
}

tr, td {
    border: 2px solid black;
}

td {
    width: 80px;
}

tr {
    height: 80px; 
}

.black {
    background-color:saddlebrown;
}

.white {
    background-color: wheat;
}